@charset "UTF-8";

/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "/null";

@namespace dvt "/null";

body {
    background-color: White;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    text-transform: capitalize;
}

h2 {
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bolder;
    text-transform: capitalize;
}

h3 {
    color: navy;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: lighter;
    text-transform: capitalize;
}

.AFHideRequired af|selectOneChoice::label af|panelFormLayout::label-cell.AFRequiredIconStyle, .AFHideRequired af|panelFormLayout::label-cell.AFRequiredIconStyle, .AFHideRequired af|selectOneChoice::label.AFRequiredIconStyle, .AFHideRequired af|inputText::label.AFRequiredIconStyle {
    display: none;
}

.AFDefaultFont:alias {
    font-size: 12px;
}

af|inputText::content {
    font-size: 12px;
    padding: 5px 6px 5px 7px;
}

af|inputText::label {
    padding: 0px 15px 0px 0px;
}

af|inputDate::label {
    padding: 0px 15px 0px 0px;
}

af|outputText::label {
    padding: 0px 15px 0px 0px;
}

af|panelCollection {
    border: 1px solid #d6d6d6;
}

af|panelWindow::close-icon-style {
    display: none;
}

af|panelWindow.withCloseIcon::close-icon-style {
    display: block;
}

af|panelWindow::footer:resizable {
    display: none;
}

af|query::titlex {
    visibility:hidden;
    min-height:0px;
    height:0px;
}

af|query::disclosure-link {
    visibility:hidden;
}

af|query::content-footer {
    padding-right:10px;
}
/*
af|inputListOfValues{
             -tr-stretch-search-dialog: true;
           } 
af|inputComboboxListOfValues{
             -tr-stretch-search-dialog: true;
           } 
           */
af|panelBox {
    box-shadow: White;
}

af|selectOneChoice::content {
    padding: 4px 3px 4px 3px;
    border: 1px solid #d6d6d6;
}

af|inputDate::content {
    padding: 6px 6px 6px 6px;
    border: 1px solid #d6d6d6;
}

af|button::text {
    padding: 3px 4px 4px 4px;
}

af|panelTabbed {
    -tr-tab-bar-height: 35px;
    width: 500px;
    -tr-empty-bar-height: 1;
}

af|panelTabbed::tab-content {
    padding: 9px 10px 9px 10px;
}

af|panelTabbed::tab-text-link {
    padding: 5px 0px 5px 0px;
}

af|column::column-header-cell {
    height: 32px;
}

af|table::data-row {
    height: 34px;
}

af|column::banded-data-cell {
    background-color: #EAF2FF;
}

af|panelCollection {
    -tr-toolbar-height: 35px;
    -tr-statusbar-height: 35px;
}

af|toolbar::body {
    height: 45px;
    padding: 6px 5px 4px 5px;
}

af|inputListOfValues::content {
    padding: 7px 35px 7px 7px; 
}

af|menuBar {
    overflow: visible !important;
    background: transparent;
    height: 39px;
}

af|menu::bar-item-text {
    color: White;
}

af|menu::bar-item {
    padding: 8px 0px 0px 0px;
    height: 39px;
    border-bottom: 2px solidrgb(0, 52, 82);
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /* future proofing */

    -khtml-border-radius: 0px;
    /* for old Konqueror browsers */
}

af|menu::bar-item:highlighted {
    background-image: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #BFDDFF;
    padding: 8px 0px 0px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /* future proofing */

    -khtml-border-radius: 0px;
    /* for old Konqueror browsers */
}

af|menu::bar-item:depressed {
    background-image: none;
    background: transparent;
    border: none;
    border-bottom: 2px solid #BFDDFF;
    padding: 8px 0px 0px 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /* future proofing */

    -khtml-border-radius: 0px;
    /* for old Konqueror browsers */
}